body {
    margin: 0px;
    padding: 0xp;
    text-align: center;
}

.hide {
    display: none;
}

img {
    height: auto;
    width: 40px;
    margin: 10px;
}

#start {
    background-color: rgb(112, 112, 255);
    border-radius: 50%;
}

#pause {
    background-color: rgb(211, 255, 91);
    border-radius: 50%;
}

#reset {
    background-color: rgb(255, 107, 107);
    border-radius: 50%;
}

h1,
h4 {
    text-align: center;
}

#root {
    background: url('https://p.kindpng.com/picc/s/179-1791762_analog-watch-hd-png-download.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 250px;
    display: flex;
    height: 60vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#timer p {
    display: inline;
    margin: 1%;
    font-size: 220%;
    font-weight: 300;
}